<div class="containerFormChat">
  <h1>Centro de mensajes</h1>
  <div class="containerFormChat1">
    <form id="chatForm">
      <input
        type="email"
        id="email"
        placeholder="Igresar Email"
        required
        autocomplete="off"
      />

      <div class="chat">
        <div id="mensaje" class="mensaje"></div>
      </div>

      <input
        type="text"
        id="msg"
        placeholder="ingresar mensaje"
        required
        autocomplete="off"
      />
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
