<div class="form" onsubmit="return addMenssage(this)">
    <form class="form" action="/api/productos" method="post">
      <label for="title">Tilte</label>
      <input type="text" id="title" name="title" />
  
      <label for="price">Price</label>
      <input type="number" id="price" name="price" />
  
      <label for="thumbail">Imagen</label>
      <input type="text" id="thumbail" name="thumbail" />

      
  
      <button type="submit" class="cta">
          <span>Agregar Producto</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
  
    </form>