<div class="historialContainer">
    <% if (productos.length ==0) { %>
    <h1>No hay productos</h1>
    <% } else{%>
    
      <% productos.forEach(producto =>{%>
         <class class="historial">
          <p>Nombre: <%= producto.title %> </p>
          <p>Precio: <%=producto.price  %> </p>
         <img src=<%= producto.thumbail %> > 
         </div>
           
        
      <%}) %>
      
    <%} %>
  
  
  </div>