body{
    margin: 0;
    padding: 0;
 overflow-x: hidden;
}

.containerForm{
    
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.form{
    border-bottom: 5px solid rgba(151,140,43,0.73);
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label{
    font-size: 1.2rem;
    margin: 0.2rem 0;
background: linear-gradient(158deg, #F2C511, #322715)
}

.form button{
    margin-top: 0.4rem;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

.containerProducts{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-direction: column;
   }

.historialContainer{
   display: flex;
  

   }

.historial{
    display: flex;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;

}
 .historial p {
    margin: 1rem 1rem;
 }
.historial img{
 width: 7rem;
}

.historialContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
}

.historial{
    display: flex;
}




.containerFormChat{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chat{
    width: 100%;
    padding: 10px 3px;
	max-height: 500px;
	overflow-y: scroll;
    overflow-x: hidden  ;
    background-color: aqua;
}


.mensaje{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #b1dae7;

}

.msg{
    margin-left: 1px;
    color: green;
}
.hora{
    color: red;
}

.mensajes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}