<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Motor de Plantilla</title>
  </head>
  <body class="body">
 
    <form method="post" action="/api/signup">
        <input type="text" id="email" name="email" />
        <input type="text" id="password" name="password" />
        <input type="text" id="name" name="name" />
        <input type="number" id="age" name="age" />
        <input type="number" id="phoneNumber" name="phoneNumber" />
    
        <button type="submit">
            registrarse
        </button>
    </form>
 
   
  </body>
</html>